.carouselSection {
  align-items: center;
  width: 50%;
  margin: 60px auto;
  height: 400px;
  display: flex;
}

.carouselInner {
  border-radius: 12px;
  justify-content: space-between;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 100%;
  width: 100%;
}

.carouselInner .left {
  margin-left: 20px;
  cursor: pointer;
  place-items: center;
  display: grid;
  color: lightgrey;
}
.carouselInner .right {
  margin-right: 20px;
  cursor: pointer;
  place-items: center;
  display: grid;
  color: lightgrey;
}
